@import "tailwindcss"; 


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.slider {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: max-content; 
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.slider-fade {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 2;
  pointer-events: none;
}

.left-fade {
  left: 0;
  background: linear-gradient(to right, rgba(17, 24, 39, 1), rgba(17, 24, 39, 0));
}

.right-fade {
  right: 0;
  background: linear-gradient(to left, rgba(17, 24, 39, 1), rgba(17, 24, 39, 0));
}



@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.65;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.4;
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
